.BaseLayout {
  text-align: center;
}

.BaseLayoutMain {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.BaseLayoutContent {
  display: flex;
  align-items: center;
}

.HeaderAndFooterStyle {
  width: 100%;
  background-color: #5c217f;
}
