.Row {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.Column {
  flex: 25%;
  max-width: 20%;
  padding: 1em 0.5em;
}

.ImageGif {
  margin-top: 1em;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .Column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .Column {
    flex: 100%;
    max-width: 100%;
  }
}
